
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    display: grid;
    box-sizing: content-box;
}

header{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: fit-content;
    padding: 2% 8%;

}

header img{
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
}

header nav {
    color: #1351d8;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 30px;
}

nav a{
        color: #1351d8;
        text-decoration: none;
}

main{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 3rem;
}

.imagem{
    align-self: flex-start;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 200%;
    font-size: larger;
}

.formulario__camposFormulario{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    border-radius: 0.5rem;
    

}

.formulario__camposFormulario__campo{
    border-radius: 0.5rem;
    height: 3rem;
    border: 1px solid black;
    padding: 5px;
}



.formulario__camposFormulario__botao{
    background-color: #1351d8;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 5rem;
    align-self: flex-end;
}

.formulario__camposFormulario__botao:hover{
    padding: 1.2rem 5.2rem;
}

footer{
    background-color: #1b357e;
    align-self: flex-end;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5%;
    height: fit-content;
}

.redes-sociais{
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.copyright{
    justify-self: center;
}
.imagem{
    justify-self: flex-start;
}

.descricaoLancamento{
    padding: 15px;
}
